.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use 100% of the viewport height */
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 80%; /* Set width to 80% on large screens */
    max-width: 400px; /* Add max-width for responsiveness */
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .switch {
    color: #555;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px; /* Move margin to bottom */
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .switch:hover {
    color: #333;
  }
  
  .inputBox,
  .inputBox1 {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
  }
  
  .inputBox input,
  .inputBox1 input {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    padding: 12px;
    width: 100%;
    transition: border-color 0.3s ease, color 0.3s ease;
    color: #333;
  }
  
  .inputBox input:focus,
  .inputBox1 input:focus {
    border-color: #555;
  }
  
  .inputBox span,
  .inputBox1 span {
    color: #888;
    font-size: 14px;
    left: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .inputBox input:focus ~ span,
  .inputBox input:valid ~ span,
  .inputBox1 input:focus ~ span,
  .inputBox1 input:valid ~ span {
    color: #555;
    transform: translateY(-120%) scale(0.8);
  }
  
  .enter {
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
  }
  
  .enter:hover {
    background-color: #333;
  }
  
  @media (max-width: 768px) {
    .card2 {
      padding: 20px; /* Adjust padding on small screens */
    }
  
    .enter {
      margin-top: 10px; /* Reduce margin on small screens */
    }
  }
  